body, html {
	font-family: 'Open Sans', sans-serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	color: rgba(255,255,255,0.5);
	width: 100% !important;
	height: 100% !important;
}
h1 {
	font-weight: 400;
}
h2 {
	line-height: 20px;
	margin: 0;
	color: #25BAD0;
	margin-bottom: 30px;
	font-size: 40px;
	font-weight: 400;
	text-transform: uppercase;
	padding-bottom: 10px;
}
h3, h4 {
	color: #333;
	font-size: 20px;
	font-weight: 400;
}
h5 {
	text-transform: uppercase;
	font-weight: 700;
	line-height: 20px;
}
p {
	font-size: 15px;
}
p.intro {
	font-size: 16px;
	margin: 12px 0 0;
	line-height: 24px;
}
a {
	color: #fff;
}
a:hover, a:focus {
	text-decoration: none;
	color: #25BAD0;
}
ul, ol {
	list-style: none;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.clearfix {
	display: inline-block;
}
* html .clearfix {
	height: 1%;
}
.clearfix {
	display: block;
}
ul, ol {
	padding: 0;
	webkit-padding: 0;
	moz-padding: 0;
}
/* Navigation */
#menu {
	padding: 20px;
	transition: all 0.8s;
}
#menu.navbar-default {
	background-color: rgba(248, 248, 248, 0);
	border-color: rgba(231, 231, 231, 0);
}
#menu a.navbar-brand {
	text-align: center;
	font-size: 20px;
	color: rgba(255,255,255,0.8);
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 1px;
}
#menu a.navbar-brand i.fa {
	color: #25BAD0;
}
#menu.navbar-default .navbar-nav > li > .page-scroll {
	text-transform: uppercase;
	color: rgba(255,255,255,0.8);
	font-size: 12px;
	letter-spacing: 1px;
}
/* added by shesongling ↓*/
#menu.navbar-default .navbar-nav > li > .btn {
	text-transform: uppercase;
	color: rgba(255,255,255,0.8);
	font-size: 12px;
	letter-spacing: 1px;
}
/* added by shesongling ↑*/
#menu.navbar-default .navbar-nav > li > a:hover {
	color: #25BAD0;
}
.on {
	background-color: #03252b !important;
	padding: 0 !important;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #25BAD0 !important;
	background-color: transparent;
}
.navbar-toggle {
	border-radius: 0;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #25BAD0;
	border-color: #25BAD0;
}
.navbar-default .navbar-toggle:hover>.icon-bar {
	background-color: #FFF;
}

/* added by shesonglin ↓*/
.js-signin-modal-trigger {
	color: #25BAD0;
	opacity: 0.8;
	text-transform: uppercase;
	border: 2px solid white;
}
#login-btn {
	background-color: #BFC0C0;
}
#signup-btn {
	background-color: #EF6807;
}
#logout-btn {
	background-color: red;
}
#login-btn:hover {
	background: rgb(0,0,0,0);
	letter-spacing: auto;
	font-weight: 750;
}
#signup-btn:hover {
	background: rgb(0,0,0,0);
	letter-spacing: auto;
	font-weight: 750;
}
/* added by shesonglin ↑*/

.btn-default {
	color: #25BAD0;
	background-color: transparent;
	border: 2px solid #25BAD0;
	padding: 12px 20px;
	margin: 0;
	font-size: 15px;
	border-radius: 0;
	text-transform: uppercase;
}
.btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active {
	color: #053740;
	background-color: #25BAD0;
	border-color: #25BAD0;
}
.btn:active, .btn.active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}
a:focus, .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
	outline: none;
	outline-offset: none;
}
/* Home Section */
.intro {
	display: table;
	width: 100%;
	height: auto;
	text-align: center;
	color: #fff;
	background: url(../img/intro-bg.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}
.intro .overlay {
	padding: 100px 0;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#053740+0,053740+100&1+0,0.6+100 */
	background: -moz-linear-gradient(top, rgba(5,55,64,1) 0%, rgba(5,55,64,0.6) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(5,55,64,1) 0%, rgba(5,55,64,0.6) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(5,55,64,1) 0%, rgba(5,55,64,0.6) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#053740', endColorstr='#99053740', GradientType=0 ); /* IE6-9 */
}
/*shesl style ↓*/
.query-box {
	background: #555559;
	opacity: 0.8;
	margin: 5px auto;
	text-align: center;
	width: 80%;
	color: #FFEDD5;
	border-radius: 5px;
}
.query-prefix-text {
	float: left;
	font-size: 16px;
	font-weight: 500;
	margin: 10px;
}
.query-prefix-text::-webkit-input-placeholder{
	color:#E8E8E8;
}
.query-user-text {
	float: left;
	border: none;
	background: #555559;
	color: #FFEDD5;
	margin: 10px;
	width:50%;
}
.query-button {
	text-align: right;
	background: #EF6807;
	opacity: 0.8;
	border-radius: 5px;
	border:none;
	padding: 10px;
}
#query-result {
	padding: 10px;
}
/*shesl style ↑*/
.section-title {
	padding: 25px 0 60px 0;
}
.intro H1 {
	font-size: 60px;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: rgba(255,255,255,0.9);
}
.intro .brand {
	color: #25BAD0;
	font-weight: 700;
}
.intro .intro-text p {
	font-size: 18px;
	margin-bottom: 40px;
	margin-top: 20px;
	text-transform: uppercase;
	color: rgba(255,255,255,0.9);
}
header .intro-text {
	padding-top: 150px;
	padding-bottom: 150px;
}
/* Services Section */
#services {
	padding: 120px 0;
	background: #053740;
}
#services h4 {
	color: #25BAD0;
	text-transform: uppercase;
}
#services i.fa {
	font-size: 32px;
	margin-bottom: 20px;
	transition: all 0.5s;
	color: #053740;
	width: 100px;
	height: 100px;
	padding: 33px 0;
	border: 1px solid #25BAD0;
	background: #25BAD0;
	border-radius: 50%;
}
/* About Section */
#about {
	padding: 100px 0;
	color: rgba(255,255,255,0.9);
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#20a6bb+0,25bad0+50 */
	background: rgb(32,166,187); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(32,166,187,1) 0%, rgba(37,186,208,1) 50%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(32,166,187,1) 0%, rgba(37,186,208,1) 50%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(32,166,187,1) 0%, rgba(37,186,208,1) 50%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#20a6bb', endColorstr='#25bad0', GradientType=0 ); /* IE6-9 */
}
#about h2 {
	color: rgba(255,255,255,0.8);
}
#about h4 {
	color: #0a4b55;
}
#about .about-text {
	margin-left: 10px;
}
#about p {
	margin-top: 20px;
	margin-bottom: 30px;
}
/* Portfolio Section */
#portfolio {
	padding: 100px 0;
	background: #053740;
}
.categories {
	padding-bottom: 30px;
	text-align: center;
}
ul.cat li {
	display: inline-block;
}
ol.type li {
	display: inline-block;
	margin-left: 20px;
	text-transform: uppercase;
}
ol.type li a {
	background: transparent;
	border: 2px solid #25BAD0;
	color: #25BAD0;
	padding: 10px 20px;
}
ol.type li a.active {
	background: #25BAD0;
	color: #053740;
}
ol.type li a:hover {
	background: #25BAD0;
	color: #053740;
}
.isotope-item {
	z-index: 2
}
.isotope-hidden.isotope-item {
	z-index: 1
}
.isotope, .isotope .isotope-item {
	/* change duration value to whatever you like */
	-webkit-transition-duration: 0.8s;
	-moz-transition-duration: 0.8s;
	transition-duration: 0.8s;
}
.isotope-item {
	margin-right: -1px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.isotope {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition-property: height, width;
	-moz-transition-property: height, width;
	transition-property: height, width;
}
.isotope .isotope-item {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition-property: -webkit-transform, opacity;
	-moz-transition-property: -moz-transform, opacity;
	transition-property: transform, opacity;
}
.portfolio-item {
	margin: 15px 0;
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-ms-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}
.portfolio-item:hover {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
}
.portfolio-item .hover-bg {
	height: 260px;
	overflow: hidden;
	position: relative;
}
.hover-bg .hover-text {
	position: absolute;
	text-align: center;
	margin: 0 auto;
	color: #ffffff;
	background: rgba(0, 0, 0, 0.66);
	padding: 33% 0 0 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: all 0.5s;
}
.hover-bg .hover-text>h4 {
	opacity: 0;
	color: #fff;
	font-weight: 400;
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
	transition: all 0.3s;
}
.hover-bg:hover .hover-text>h4 {
	opacity: 1;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateY(0);
	transform: translateY(0);
}
.hover-bg .hover-text>i {
	opacity: 0;
	-webkit-transform: translateY(0);
	transform: translateY(0);
	transition: all 0.3s;
}
.hover-bg:hover .hover-text>i {
	opacity: 1;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
}
.hover-bg:hover .hover-text {
	opacity: 1;
}
#portfolio i.fa {
	font-size: 20px;
	padding: 5px;
	color: #E87E04;
}
/* Team Section */
#team {
	padding: 100px 0;
	color: rgba(255,255,255,0.9);
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#20a6bb+0,25bad0+50 */
	background: rgb(32,166,187); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(32,166,187,1) 0%, rgba(37,186,208,1) 50%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(32,166,187,1) 0%, rgba(37,186,208,1) 50%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(32,166,187,1) 0%, rgba(37,186,208,1) 50%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#20a6bb', endColorstr='#25bad0', GradientType=0 ); /* IE6-9 */
}
#team h2 {
	color: rgba(255,255,255,0.8);
}
#team h3 {
	color: #0a4b55;
}

img.img-circle.team-img {
	width: 160px;
	height: 160px;
}
#team .thumbnail {
	background: transparent;
	border: 0;
}
#team .thumbnail .caption {
	padding: 9px;
	color: rgba(255,255,255,0.9);
}
/* Contact Section */
#contact {
	background: url(../img/contact-bg.jpg) no-repeat center top;
	background-color: #7bc3d1;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}
#contact .overlay {
	padding: 100px 0 40px 0;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#053740+0,053740+100&1+0,0.75+100 */
	background: -moz-linear-gradient(top, rgba(5,55,64,1) 0%, rgba(5,55,64,0.75) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(5,55,64,1) 0%, rgba(5,55,64,0.75) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(5,55,64,1) 0%, rgba(5,55,64,0.75) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#053740', endColorstr='#bf053740', GradientType=0 ); /* IE6-9 */
}
#contact h3 {
	padding-top: 20px;
	font-size: 20px;
	font-weight: 400;
	color: #fff;
}
#contact form {
	padding: 20px 0;
}
#contact i.fa {
	color: #121d1f;
	margin-bottom: 10px;
}
#contact .text-danger {
	color: #ff6600;
	text-align: left;
}
label {
	font-size: 12px;
	font-weight: 400;
	float: left;
}
#contact .form-control {
	display: block;
	width: 100%;
	padding: 6px 12px;
	margin: 10px 0;
	font-size: 14px;
	line-height: 1.42857143;
	color: #fff;
	background-color: rgba(255,255,255,0.2);
	background-image: none;
	border: 0;
	border-radius: 2px;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: none;
	-o-transition: none;
	transition: none;
}
#contact .form-control:focus {
	border-color: inherit;
	outline: 0;
	-webkit-box-shadow: transparent;
	box-shadow: transparent;
}
.form-control::-webkit-input-placeholder {
color: #ccc;
}
.form-control:-moz-placeholder {
color: #ccc;
}
.form-control::-moz-placeholder {
color: #ccc;
}
.form-control:-ms-input-placeholder {
color: #ccc;
}
#contact .btn {
	margin-top: 20px;
}
#contact .social {
	margin-top: 80px;
}
#contact .social ul li {
	display: inline-block;
	margin: 0 20px;
}
#contact .social i.fa {
	font-size: 30px;
	padding: 4px 5px;
	color: #fff;
	transition: all 0.5s;
}
#contact .social i.fa:hover {
	color: #25BAD0;
}
/* Footer Section*/
#footer {
	background: #03252b;
	padding: 25px 0 20px 0;
}
#footer p {
	font-size: 13px;
}
#footer a {
	color: #aaa;
}
#footer a:hover {
	color: #25BAD0;
}

/* Media Queries */
@media (max-width: 1024px) {
.intro H1 {
	font-size: 42px;
}
header .intro-text {
	padding-top: 100px;
	padding-bottom: 100px;
}
#about img {
	margin-bottom: 20px;
}
}






.cd-signin-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(52, 54, 66, 0.9);
  z-index: 100;
  overflow-y: auto;
  cursor: pointer;
  visibility: hidden;
  opacity: 0; 
  -webkit-transition: opacity 0.3s, visibility 0.3s;
  transition: opacity 0.3s, visibility 0.3s;
}

.cd-signin-modal.cd-signin-modal--is-visible {
  visibility: visible;
  opacity: 1;
}

.cd-signin-modal__container {
  position: relative;
  width: 90%;
  max-width: 600px;
  background: #FFF;
  margin: 3em auto 4em;
  cursor: auto;
  border-radius: 0.25em;
  -webkit-transform: translateY(-30px);
      -ms-transform: translateY(-30px);
          transform: translateY(-30px);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.cd-signin-modal--is-visible .cd-signin-modal__container {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

.cd-signin-modal__switcher:after {
  /* clearfix */
  content: "";
  display: table;
  clear: both;
}

.cd-signin-modal__switcher li {
  width: 50%;
  float: left;
  text-align: center;
}

.cd-signin-modal__switcher li:first-child a {
  border-radius: .25em 0 0 0;
}

.cd-signin-modal__switcher li:last-child a {
  border-radius: 0 .25em 0 0;
}

.cd-signin-modal__switcher a {
  display: block;
  width: 100%;
  height: 50px;
  line-height: 50px;
  background: #d2d8d8;
  color: #809191;
}

.cd-signin-modal__switcher a.cd-selected {
  background: #FFF;
  color: #505260;
}

@media only screen and (min-width: 600px) {
  .cd-signin-modal__container {
    margin: 4em auto;
  }
  .cd-signin-modal__switcher a {
    height: 70px;
    line-height: 70px;
  }
}

.cd-signin-modal__form {
  padding: 1.4em;
  color: black;
}

.cd-signin-modal__fieldset {
  position: relative;
  margin: 1.4em 0;

}

.cd-signin-modal__fieldset:first-child {
  margin-top: 0;
}

.cd-signin-modal__fieldset:last-child {
  margin-bottom: 0;
}

.cd-signin-modal__label {
  font-size: 1.4rem;
}

.cd-signin-modal__label.cd-signin-modal__label--image-replace {
  /* replace text with an icon */
  display: inline-block;
  position: absolute;
  left: 15px;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 20px;
  width: 20px;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  color: transparent;
  background-repeat: no-repeat;
  background-position: 50% 0;
}

.cd-signin-modal__label.cd-signin-modal__label--username {
  background-image: url("../img/log/cd-icon-username.svg");
}

.cd-signin-modal__label.cd-signin-modal__label--email {
  background-image: url("../img/log/cd-icon-email.svg");
}

.cd-signin-modal__label.cd-signin-modal__label--password {
  background-image: url("../img/log/cd-icon-password.svg");
}

.cd-signin-modal__input {
  margin: 0;
  padding: 0;
  border-radius: 0.25em;
}

.cd-signin-modal__input.cd-signin-modal__input--full-width {
  width: 100%;
}

.cd-signin-modal__input.cd-signin-modal__input--has-padding {
  padding: 12px 20px 12px 50px;
}

.cd-signin-modal__input.cd-signin-modal__input--has-border {
  border: 1px solid #d2d8d8;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.cd-signin-modal__input.cd-signin-modal__input--has-border:focus {
  border-color: #343642;
  -webkit-box-shadow: 0 0 5px rgba(52, 54, 66, 0.1);
          box-shadow: 0 0 5px rgba(52, 54, 66, 0.1);
  outline: none;
}

.cd-signin-modal__input.cd-signin-modal__input--has-error {
  border: 1px solid #d76666;
}

.self-defined__login-submit {
  background: #BFC0C0;
  opacity: 0.8;	
}

.self-defined__create-submit {
  background: #EF6807;
  opacity: 0.8;
}

.cd-signin-modal__input[type=submit] {
  padding: 16px 0;
  cursor: pointer;
  color: #FFF;
  font-weight: bold;
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cd-signin-modal__input[type=submit]:hover, .cd-signin-modal__input[type=submit]:focus {
  background: #3599ae;
  outline: none;
}

.cd-signin-modal__hide-password {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
  padding: 6px 15px;
  border-left: 1px solid #d2d8d8;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 1.4rem;
  color: #343642;
}

.cd-signin-modal__error {
  display: inline-block;
  position: absolute;
  left: -5px;
  bottom: -35px;
  background: rgba(215, 102, 102, 0.9);
  padding: .8em;
  z-index: 2;
  color: #FFF;
  font-size: 1.3rem;
  border-radius: 0.25em;
  /* prevent click and touch events */
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.2s 0s, visibility 0s 0.2s;
  transition: opacity 0.2s 0s, visibility 0s 0.2s;
}

.cd-signin-modal__error::after {
  /* triangle */
  content: '';
  position: absolute;
  left: 22px;
  bottom: 100%;
  height: 0;
  width: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid rgba(215, 102, 102, 0.9);
}

.cd-signin-modal__error.cd-signin-modal__error--is-visible {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.2s 0s, visibility 0s 0s;
  transition: opacity 0.2s 0s, visibility 0s 0s;
}

@media only screen and (min-width: 600px) {
  .cd-signin-modal__form {
    padding: 2em;
  }
  .cd-signin-modal__fieldset {
    margin: 2em 0;
  }
  .cd-signin-modal__fieldset:first-child {
    margin-top: 0;
  }
  .cd-signin-modal__fieldset:last-child {
    margin-bottom: 0;
  }
  .cd-signin-modal__input.cd-signin-modal__input--has-padding {
    padding: 16px 20px 16px 50px;
  }
  .cd-signin-modal__input[type=submit] {
    padding: 16px 0;
  }
}

.cd-signin-modal__message {
  padding: 1.4em 1.4em 0;
  font-size: 1.4rem;
  line-height: 1.4;
  text-align: center;
}

@media only screen and (min-width: 600px) {
  .cd-signin-modal__message {
    padding: 2em 2em 0;
  }
}

.cd-signin-modal__bottom-message {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -30px;
  text-align: center;
  font-size: 1.4rem;
}

.cd-signin-modal__bottom-message a {
  color: #FFF;
  text-decoration: underline;
}

.cd-signin-modal__close {
  /* form X button on top right */
  display: block;
  position: absolute;
  width: 40px;
  height: 40px;
  right: 0;
  top: -40px;
  background: url("../img/log/cd-icon-close.svg") no-repeat center center;
  color: transparent;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

@media only screen and (min-width: 1170px) {
  .cd-signin-modal__close {
    display: none;
  }
}

.cd-signin-modal__block {
  display: none;
}

.cd-signin-modal__block.cd-signin-modal__block--is-selected {
  display: block;
}
